.container {

    margin: 2rem auto;
    width: 80vw;
}

.profile-pic-wrapper {

    position: relative;
    border-radius: 1rem;
    background: white;
    overflow: hidden;
}

.hero-img {

    min-height: 5rem;
    height: max(12vw, 12vh);
    background: #00e096;
}

.profile-info-wrapper {
    
    position: relative;
    top: -5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic-wrapper .profile-pic {

    height: 10rem;
    width: 10rem;
    border: 0.4rem solid white;
    font-size: 6rem;
    background: #2dabff;
}

.profile-info-wrapper .profile-name {

    color: #474747;
    text-transform: capitalize;
}

.profile-info-wrapper .username {
    font-size: 1.1rem;
}

.profile-pic-wrapper .roles {

    position: absolute;
    bottom: 1.75rem;
    width: 100%;
    justify-content: center;
}

.control-panel, .about, .details-wrapper {

    margin: 1rem 0;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background: white;
    color: #555555;
}

.control-panel h3, .about h3, .details-wrapper h3 {

    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    color: #45b690;
}

.audit {
    display: flex;
}

.control-panel form {

    margin: 0 0.5rem 0 0;
    padding: 0;
    flex-grow: 1;
    max-width: 100px;
}

.control-panel input[name="logout"] {

    background: #2dabff;
    border-color: #2dabff !important;
}

.control-panel input[name="delete"] {

    background: #ff1332;
    border-color: #ff1332 !important;
}

.details-wrapper {
    font-size: 1.1rem;
}

.detail-heading {

    font-weight: 700;
    color: #505050;
    text-transform: capitalize;
}

@media only screen and (max-width: 720px) {

    .container {
        width: 95vw;
    }
    .profile-info-wrapper {
        top: -3.5rem;
    }
    .profile-pic-wrapper .profile-pic {

        height: 7rem;
        width: 7rem;
        border-width: 0.25rem;
        font-size: 4rem;
    }
    .profile-pic-wrapper .roles {
        bottom: 0.75rem;
    }
}